body {

    margin: 0;
    padding: 10px;

    background: #222;

    width: max-content;
}

#grid {

    display: grid;

    grid-template-columns:
        repeat(12, 20px);

    grid-template-rows:
        repeat(6, 20px);

    gap: 4px;

    width: max-content;
}

.cell {

    width: 20px;
    height: 20px;

    background: white;

    border-radius: 3px;

    box-sizing: border-box;
}

.cell.raised {

    background: black;
}